<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>HDashBoard | HAGRE IMS</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/dash.css'%}">
    <link rel="stylesheet" href="{% static 'css/product.css'%}">
</head>

<body>
    
    <div class="app flex">
        <div class="side-nav">
            <div class="logo flex-cc">
                <img src="{% static 'img/hagre pos.svg' %}" alt="">
            </div>
            <ul class="lists">
                <li><a href="{% url 'dashboard'%}" class="dark"> <icon class="fa fa-building"></icon>  Dashboard</a></li>
                <li><a href="{% url 'add_new_product'%}" class="dark"> <icon class="fa fa-barcode"></icon>  Products</a></li>
                <li><a href="{% url 'dashboard'%}" class="dark"><icon class="fa fa-tags"></icon>  Categories</a></li>
                <li><a href="{% url 'pos'%}" class="dark" id="to_sale_nav"><icon class="fa fa-calendar">  </icon>  Sale (F1)</a></li>
                <li><a href="{% url 'dashboard'%}" class="dark"><icon class="fa fa-shopping-cart"></icon>  Purchases</a></li>
                <li><a href="{% url 'dashboard'%}" class="dark"><icon class="fa fa-recycle"></icon>  Returns</a></li>
            </ul>
        </div>
        <div class="main-container">
            <nav class="flex-bw  container">
                <div class="search">
                    <input type="text" placeholder="search">
                </div>
                <div class="">
                    <icon class="fa fa-user"></icon>
                    {{user}}
                </div>
            </nav>
    {% block body %}
    {% endblock %}
    </div>
    </div>

    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
