<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>HDashBoard | HAGRE IMS</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/dash.css'%}">
    <link rel="stylesheet" href="{% static 'css/product.css'%}">
</head>

<body>
    
    <div class="app flex">
        <div class="side-nav">
            <div class="logo flex-cc">
                <img src="{% static 'img/hagre pos.svg' %}" alt="">
            </div>
            <ul class="lists">
                <li><a href="{% url 'dashboard'%}" class="dark">Dashboard</a></li>
                <li><a href="{% url 'add_new_product'%}" class="dark">Products</a></li>
                <li><a href="{% url 'dashboard'%}" class="dark">Categories</a></li>
                <li><a href="{% url 'pos'%}" class="dark" id="to_sale_nav">Sale</a></li>
                <li><a href="{% url 'dashboard'%}" class="dark">Purchases</a></li>
                <li><a href="{% url 'dashboard'%}" class="dark">Returns</a></li>
            </ul>
        </div>
        <div class="main-container">
            <nav class="flex-bw navbar navbar-dark">
                <div class="search">
                    <input type="text" placeholder="search">
                </div>
                <div class="">
                    <span class="fa fa-avatar"></span>
                    {{user}}
                </div>
            </nav>
    {% block body %}
    {% endblock %}
    </div>
    </div>

    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
