<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>HDashBoard | HAGRE IMS</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/dash.css'%}">
    <link rel="stylesheet" href="{% static 'css/product.css'%}">
</head>

<body>

    {% block body %}
    {% endblock %}


    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
