{% extends "store/base_nav.html"%}
{% load static %}
{% block body %}
<div class="main">
    {% include 'store/messages.html' %}
    <div class="flex-bw section">
            <div class="product-list-header">
                <h2>Product List</h2>
                <p class="light">
                    The Product list effectively dictates product presentation and provides space to list your products and offering in the most appealing way.
                </p>
            </div>
    </div>
    <a href=""
    target="popup" 
    onclick="window.open('/add_new_product?_to_field=id&_popup=1','popup','width=650,height=700'); return false;">
    add new product</a>
    <div class="section product-list">
        {% include 'store/products/product_list.html' %}
    </div>
    <div class="section sales-list">
        {% include 'store/pos/sales_list.html' %}
    </div>
</div>
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vue.global.js' %}"></script>
    <script src="{% static 'js/pos.js' %}"></script>
{% endblock %}