<table class="table" border="true">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Code</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Cost</th>
            <th scope="col">min_stock</th>
            <th scope="col">max stock</th>
            <th scope="col">current stock</th>
            <th scope="col">new weight</th>
            <th scope="col">gross weight</th>
            <th scope="col">tax</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td >{{product.description}}</td>                                
            <td >{{product.sku}}</td>
            <td >
                {% if product.category == 'store.Category.None' %}
                {{product.category}}
                {%endif %}
            </td>
            <td >{{product.price}} </td>
            <td >{{product.brand}}</td>
            <td >{{product.cost}} </td>                               
            <td >{{product.min_stock}}</td>
            <td >{{product.max_stock}}</td>
            <td >{{product.stock_level}}</td>
            <th >{{product.net_weight}}</th>
            <th >{{product.gross_weight}}</th>
            <td >{{product.tax}}</td>
            <!-- <td class="flex">
                <a href="" class="btn btn-sm btn-success margin-sm">+</a>
                <a href="" class="btn btn-sm btn-danger margin-sm">del</a>
            </td> -->


        </tr>
        {% endfor %}
    </tbody>
</table>