<table class="table" border="true">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Code</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Cost</th>
            <th scope="col">min_stock</th>
            <th scope="col">max stock</th>
            <th scope="col">current stock</th>
            <th scope="col">new weight</th>
            <th scope="col">gross weight</th>
            <th scope="col">tax</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td >{{product.description}}</td>                                
            <td >{{product.id}}</td>
            <td >
                {% if product.category == 'store.Category.None' %}
                {{product.category}}
                {%endif %}
            </td>
            <td >{{product.price}} </td>
            <td >{{product.brand}}</td>
            <td >{{product.cost}} </td>                               
            <td >{{product.min_stock}}</td>
            <td >{{product.max_stock}}</td>
            <td >{{product.stock_level}}</td>
            <th >{{product.net_weight}}</th>
            <th >{{product.gross_weight}}</th>
            <td >{{product.tax}}</td>
            <!-- <td class="flex">
                <a href="" class="btn btn-sm btn-success margin-sm">+</a>
                <a href="" class="btn btn-sm btn-danger margin-sm">del</a>
            </td> -->


        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?products=1">&laquo; first</a>
            <span>  |  </span>
            <a href="?products={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?products={{ products.next_page_number }}">next</a> <span>  |  </span>
            <a href="?products={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>