{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/dash.css'%}">
    <link rel="stylesheet" href="{% static 'css/product.css'%}">
    <link rel="stylesheet" href="{% static 'css/pos.css'%}">
    <title>Hagre POS</title>
</head>
<body>
    
    <div class="pos container " id="POS">
        <div v-for="error in errors">
            <p class="error">[[error.value]]</p>
        </div>
        <img src="{% static 'img/hagre pos.svg'%}" alt="hagre POS" class="pos-logo logo">
        <div class="pos-bar row "  >
            <input  v-model="productInput" type="text" id="item" class="col-4">
            <div class="qty col-4">
                <label for="qty">QTY.</label>
                <input  type="number" v-model="product_amount" id="qty" name="qty">
            </div>
            
            <div class=" col-1">
                <a @click.prevent="add_to_cart">send</a>
            </div>
        </div>
        <hr>
        <div class="selected_product row" v-if="product">

            <h7 class="light col-4">[[product.description]]</h7>
            <h7 class="light col-3">[[product_amount]] X [[product? product_price : 0]] Birr</h7>
            <h7 class="light col-2">[[product_total]] Birr</h7>
        </div>
        <div v-else="product">
            <h3 class="light">No Selected Item</h3>
        </div>
        <hr>
        <h2>on cart</h2>
        <div class="items">
            <table class="table pos_cart_table" id="pos_cart_table" >
                <thead>
                    <tr class="row">
                        <th class="col-1 dark" scope="col">no</th>
                        <th class="col-7 dark" scope="col">Product</th>
                        <th class="col-2 dark" scope="col">Price</th>
                        <th class="col-2 dark" scope="col">total</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="item row " v-for="(product, index) in productsOnCart">
                        <td class="col-1">[[index]]</td>                                
                        <td class="col-7">[[product.description]]</td>
                        <td class="col-2 light">[[product.amount]] X [[product.price]] Birr </td>
                        <td class="col-2 dark">[[product.price * product.amount]]</td>   
                        <td class="delete_item btn btn-sm btn-outline-danger" @click='del_cart_product(index)'>x</td>            
                    </tr>
                </tbody>
            </table>
            {% include 'store/pos/sale_form.html' %}
        </div>
        <div class="pos-total">
            <div class="def">
                <input type="checkbox" name="def" id="">
                <span class="small light ">Tax : [[ cart_tax ]] Birr</spanca>
                <br>
                <span class="small light ">Total : [[cart_total]] Birr</span>
            </div>
            <div>
                <h3 class="total">total :  [[cart_aft_total]] Birr</h3>
                <a href="{% url 'dashboard' %} " class="error btn-sm btn btn-outline-danger" id="close_pos">close pos ( Ctrl )</a>
            </div>
        </div>
    </div>
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vue.global.js' %}"></script>
    <script src="{% static 'js/pos.js' %}"></script>
</body>
</html>